/* 
Source: https://dribbble.com/shots/7180834-Change-Password-Interaction
*/

html {
  box-sizing: border-box;
  font-family: "Roboto", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html,
p {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ebeff2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 85px 40px;
  margin: auto;
  width: 80%;
  max-width: 800px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.07);

  &-header {
    font-size: 26px;
    margin-bottom: 35px;
  }

  &-body {
    display: flex;
  }

  &-group {
    margin-bottom: 35px;
    position: relative;

    &-label {
      display: block;
      font-size: 15px;
      margin-bottom: 5px;
    }

    &-input {
      border-radius: 5px;
      padding: 10px 15px;
      border: 1px solid #430090;
      width: 95%;
      font-size: inherit;
      position: relative;

      &-icon {
        position: absolute;
        right: -10px;
        top: 50%;
        bottom: 50%;
        width: 20px;
      }
    }
  }

  &-validation {
    position: absolute;
    bottom: -18px;
    font-size: 12px;
    display: block;
  }

  &-submit {
    background-color: #430090;
    width: 95%;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    font-family: inherit;
  }

  &-column-inputs {
    flex: 1 0 55%;
    margin-right: 35px;
  }

  &-column-guide {
    margin-top: 13px;
    flex: 1 0 45%;
    p {
      margin-bottom: 15px;
      font-size: 15px;
    }
  }
}
